
.editor_texto{
    width: 500px;
    background-color: grey;
}


.menu_ferramentas.listar {
    padding-left: 0.25rem;
}

.area_editavel{
    background-color: floralwhite;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid black;
    word-break: break-word;
    max-height: 250px;
    overflow: auto;
}
.menu_ferramentas{
    width: 100%;


}
.menu_ferramentas > *{
    background-color: red;
    display: flex;

    margin-left: 1rem;
}
.menu_ferramentas > * > div {
    display: flex;
    margin-left: 1rem;
}


